.circle {
  width: 50px;
  height: 50px;
  background-image: url("https://cdn.icon-icons.com/icons2/2506/PNG/512/user_icon_150670.png");
  background-size: cover;
  border: 3px solid black;
  background-color: rgba(244, 244, 244, 0.664);
  border-radius: 50%;
}
.li {
  border: 1px solid;
  border-radius: 7px;
  background-color: #eef0ff;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
}
.ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
