.animation2{
    width: 90vw;
    height: 500px;
    border:1px solid black;
    margin:5px auto;
    justify-content: center;
    display: flex;
    align-items: center;
}
.animation2 .text{
    position: absolute;
    z-index: -2;
}
.all{
    width: 200px;
    height: 200px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}
.box3, .box4, .box5, .box6{
    width: 100%;
    height: 100%;
    line-height: 0;
    transition: transform 1s linear ;
}
.all:hover .box3{
    transform: rotate(90deg);
}
.all:hover .box4{
    transform: rotate(-90deg);
}
.all:hover .box5{
    transform: rotate(-90deg);
}
.all:hover .box6{
    transform: rotate(90deg);
}
.box3{
    background-color: rgb(144, 201, 182);
    transform-origin: top left;
}
.box4{
    background-color: rgb(105, 121, 161);
    transform-origin: top right; 
}
.box5{
    background-color: rgb(181, 121, 198);
    transform-origin: bottom left;
}
.box6{
    background-color: rgb(99, 19, 99);
    transform-origin: bottom right;
}
