.textAboveHero {
  .textWrapper {
    width: 83%;
    margin: 0 auto;
    padding: 20px;
    h1 {
      font-weight: 700;
      color: #ff6b19;
      font-size: 33px;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}
.hero {
  .heroSection {
    .heroSectionWrapper {
      position: relative;
      width: 83%;
      margin: 0 auto;
      background-color: #fafafa;
      display: flex;
      padding: 60px;
      border-radius: 12px;
      align-items: center;
      font-family: Arial, Helvetica, sans-serif;
      .leftHero {
        margin-right: 60px;
        img {
          height: 200px;
          width: 310px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
            rgba(17, 17, 26, 0.1) 0px 16px 56px,
            rgba(17, 17, 26, 0.1) 0px 24px 80px;
          border-radius: 12px;
        }
      }

      .rightHero {
        .uCard {
          margin-bottom: 50px;
          h1 {
            margin-bottom: 12px;
            font-weight: 700;
            font-size: 26px;
          }
          p {
            font-size: 14px;
          }
        }
        .threeSect {
          display: flex;
          flex-direction: row;
          gap: 14%;
          .first {
            display: flex;
            gap: 5%;
            i {
              font-size: 30px;
            }
          }
          .second {
            display: flex;
            gap: 5%;
            i {
              font-size: 30px;
            }
          }
          .third {
            display: flex;
            gap: 5%;
            i {
              font-size: 30px;
            }
          }
        }
      }
      .etraflibtn {
        background-color: #ff6b19;
        color: white;
        border-radius: 25px;
        padding: 15px 36px;
        position: absolute;
        right: 70px;
        top: 50px;
        font-weight: 600;
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  .heroSectionWrapper {
    display: flex;
    flex-direction: column;
  }
  .etraflibtn {
    position: static;
  }
}
.textAboveCard {
  .textWrapper {
    width: 83%;
    margin: 0 auto;
    padding: 20px;
    h1 {
      font-weight: 700;
      color: #ff6b19;
      font-size: 33px;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}
.cards {
  font-family: Arial, Helvetica, sans-serif;
  width: 85%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin: 0 auto;
  .CardWrapper {
    padding: 15px 15px;
    .card {
      padding: 10%;
      background-color: #fafafa;
      border-radius: 12px;
      .cardImgWrapper {
        img {
          margin-bottom: 10px;
          height: 200px;
          width: 310px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
            rgba(17, 17, 26, 0.1) 0px 16px 56px,
            rgba(17, 17, 26, 0.1) 0px 24px 80px;
          border-radius: 12px;
        }
      }
    }
    h1 {
      font-size: 23px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    p {
      font-size: 14px;
      font-weight: 300;
      margin-bottom: 10px;
    }
    button {
      background-color: #ff6b19;
      color: white;
      border-radius: 25px;
      padding: 15px 37px;
      right: 70px;
      top: 50px;
      font-weight: 600;
      border: none;
    }
  }
}
@media only screen and (max-width: 992px) {
  .cards {
    grid-template-columns: repeat(1, auto);
  }
  .card {
    text-align: center;
  }
}
@media only screen and (max-width: 992px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    text-align: center;
  }
}
.handiCapped {
  width: 40px;
  height: 40px;
  background-color: #ff4401;
  border-radius: 50%;
  position: fixed;
  left: 12px;
  bottom: 12px;
  i {
    padding: 9px;
    font-size: 24px;
  }
}
