.buttonHeader {
  padding: 8px;
  border: none;
  background-color: white;
  border-radius: 6px;
}
.footerText {
  text-align: left;
  h4 {
    margin-bottom: 20px;
  }
  ul li {
    margin-bottom: 17px;
    font-weight: 300;
    font-size: 13px;
  }
}
