*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: rgb(226,58,107);
    background: linear-gradient(90deg, rgba(226,58,107,1) 0%, rgba(118,70,209,1) 100%);
}
header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: 150px;
    gap: 10px;
    padding: 10px;
}
div {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 {
    grid-column: 1/1;
    grid-row: 1/3;
    background-image: url(food.jpg);
    background-position: center;
    overflow: hidden;
    object-fit:fill;
    background-repeat: no-repeat;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start ;
    
}
.box1 h1, .box1 p{
    background-color: #FFC600;
    margin-left: 40px;
}
.box1 h1{
    margin-top:100px;
}
.box2,.box3{
    padding-top:20px ;
    display: block;
    background-color: #FFC600;
}
section {

    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 60px;
    gap: 15px;
}

.yellowBox {
    background-color:#FFC600;
    height: 50px;
}
.activities{
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px;
    gap:15px;
}
.act{
    height: 100%;
    background-color: white;
    display: block;
    font-size: 13px;
}
.act p{
    margin-bottom: 20px;
}
main{
    margin: 0 auto;
    width: 96.5vw;
    border:1px solid black;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
main .tacoimg{
    background-image: url(tacowhite.jpg);
    height: 200px;
    width: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    
}

main .textBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 400px;
    margin-left:0;
}
main .textBox button{
    background-color:#FFC600;
    padding: 10px;
    border:none;
}
.grams{
    margin: 0 auto;
    margin-top: 10px;
}
.boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px;
    gap:5px;
}
.box{
    margin:0 auto;
    height: 200px;
    width: 200px;
    background-size:contain;
    object-fit: fill;
    background-position:center;
    background-repeat: no-repeat;
}
.b1{
    background-image: url(tea1.webp);
}
.b2{
    background-image: url(tea2.jpeg);
}
.b3{
    background-image: url(tea3.webp);
}
.b4{
    background-image: url(tea4.jpeg);
}
.b5{
    background-image: url(tea5.jpeg);
}
.b6{
    background-image: url(tea6.webp);
}
.b7{
    background-image: url(tea7.webp);
}
.b8{
    background-image: url(tea8.jpeg);
}
.b9{
    background-image: url(tea9.jpeg);
}
.b10{
    background-image: url(tea10.jpeg);
}
@media only screen and (max-width: 1024px) {
    section{
        display: none;
    }
    div.mobile-menu-bar{
        display:block;
    }
    header{
        grid-template-columns: repeat(1,auto);
    }
    main{
        grid-template-columns: repeat(1,auto);
    }
    .activities{
        grid-template-columns: repeat(2,auto);
    }

    .boxes{
     grid-template-columns: repeat(2, auto);
    }
 }
@media only screen and (max-width: 425px) {
    div.mobile-menu-bar{
        display:block;
    }
    .activities{
        grid-template-columns: repeat(1, auto);
    }
    .boxes{
      grid-template-columns: repeat(1, auto);
    }
}
.mobile-menu-bar{
    background-color: #FFC600;
    padding:0 20px;
    padding-top: 10px;
    height: 30px;
    width: 80px;
    display: none;
    z-index:10;
    margin: 10px;
    text-align: center;
}