.formCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.771);
  color: rgb(0, 0, 0);
  font-weight: 700;
  width: 300px;
  margin: 20px auto;
  margin-top: 80px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
}
.inputt {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
  /* width: 710px; */
  background-color: transparent;
}
.button {
  background-color: #3b5898;
  width: 100%;
  color: white;
}
.button:hover {
  background-color: #152b5b;
}
.option {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p {
  font-weight: 400;
}
