* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #edf4fd !important;
}
nav {
  margin-bottom: 50px;
}
.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container {
  flex-wrap: wrap;
  gap: 30px;
}
.fa-basket-shopping {
  margin-right: 50px;
}
.main {
  display: flex;
  justify-content: space-around;
}
.inpBasketDiv {
  min-height: auto;
  margin-bottom: 20px;
  width: 370px;
  border: 1px solid black;
  margin-right: 50px;
  padding: 5px;
}
.inpBasket {
  border: none;
}
.inpFavoriteDiv {
  padding: 5px;
  min-height: auto;
  max-width: 370px;
  border: 1px solid black;
}
.inpFavorite {
  border: none;
}
img {
  height: 300px;
  width: 260px;
}
#filter {
  margin-top: 8px;
  border: none;
  background-color: transparent;
}
.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right {
  display: flex;
  gap: 30px;
}
.container {
  display: flex;
  justify-content: center;
  /* margin: auto; */
  margin-top: 20px;
}
